/* Inserta tu código aqui */
body{
	background-color: #F08080;
	
}
h1{
	text-decoration: underline;
}

.position
{
	position: relative;
	top: 40px;
	left: 100px;
	padding: 10px;
	display: inline-block;
	margin: 45px;
	
}
.parrafo{
	position: relative;
	bottom: 50px;
	left:80px;
	font-size:10px;
	color: white;

}



